<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robina's Bakery</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/content.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Great+Vibes&family=Kanit:wght@300;400&family=Pixelify+Sans&family=VT323&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 id="bienvenido">Robina's Bakery</h1>
        <img class="profile" src="images/robinas.png" alt="Ariel profile">
        <div class="col-lg-6 mx-auto">
          <h4 id="textoBienvenido" class="lead mb-4"> En el tranquilo año de 1990, en Asunción, nació Robina's Bakery en el hogar de la familia Vallejos. Iniciando como una modesta cafetería en la sala de estar, Doña Selva Vallejos deleitaba a sus vecinos con café paraguayo y pasteles caseros. Con el tiempo, la reputación de Robina's Bakery creció, atrayendo a clientes de toda la capital en busca de su cálida hospitalidad y productos de calidad. Inspirados por el amor y apoyo de la comunidad, la familia Vallejos expandió el negocio, manteniendo el encanto familiar que los hizo famosos, convirtiendo a Robina's Bakery en un símbolo de tradición y excelencia en Asunción.
            
          </h4>
        </div>
    </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>
<%- include("partials/footer.ejs") %>