<html>
    <head> 

        <title><%= title %></title>
        <link rel="stylesheet" href="/styles/content.css">

    </head>

    <body>
        <ul>
                <% if (!isAuthenticated) { %>
                <li><a href="/login/"> LOGIN </a></li>
                <% } else {%>
                <li><a href="/logout/"> LOGOUT</a></li>
                <%  } %>

        </ul>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>

    </body>
</html>