#navbar-React .navbar {
  display: flex;
  padding: 3px;
  width: 100%;
  height: 100px; 
  justify-content: flex-end;
  position: fixed; /* Fija el navbar en la ventana */
  z-index: 1000; /* Asegura que el navbar esté por encima del contenido */
}

#navbar-React .nav-item {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  right: 0; /* Coloca el navbar en el extremo derecho de la ventana */
}

#navbar-React .nav-list {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  cursor: pointer;
}

  /******** Items List ******/
  
  .items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  /****** Item  box *********/
  .item-box {
    background-color: #f9f9f9;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height:250px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000800;
    margin-bottom: 30px;
    
}
.item-box img {
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #000800;
}

.name-box{
  font-size: 15px; /* Tamaño máximo del título */
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  text-align: center; /* Alineación centrada */
  overflow: hidden; /* Ocultar el texto que desborda */
  white-space: nowrap; /* Evitar el desbordamiento de línea */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos si el texto desborda */

}

.item-quantity {
  color: #fff;
  background-color: #bd6f2f;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #000800;
}

.item-price {
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
}

.item-add-button {
  margin: 0 auto;
  background-color: #5d2417;
  height: 20px;
  padding: 0.5em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  width: 100%;
}

    
  
.item-minus-button {
    background-color: #d9534f;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000800;
    margin-left: 5px;

  }
  
.item-plus-button {
    background-color: #337ab7;
    margin-right: 5px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000800;
  }

.item-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}


  
  
  /****** Shopping Cart ********/
  
.cart-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}
  

.cart-count {
    background-color: rgba(255, 255, 255, 0.5); /* Blanco con 50% de opacidad */
    color: white;
    width: 100%; /* Ajusta el ancho */
    border-radius: 50%; /* Hace que el borde sea un círculo perfecto */
    padding: 5px;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 2px #000800;
}

.cart-title{
  display: flex;
  text-align:center; /* Centra el texto */
  font-size: 300%; /* Tamaño de fuente */
  color: white; /* Color del texto */
  margin-bottom: 20px; /* Espacio debajo del título */
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 40px; /*espacio que queremos dejar debajo */
}

.cart-text{
  display: flex;
  text-align:center; /* Centra el texto */
  font-size: 150%; /* Tamaño de fuente */
  color: white; /* Color del texto */
  margin-bottom: 20px; /* Espacio debajo del título */
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 40px; /*espacio que queremos dejar debajo */
}

.cart-box {
  background-color: #f9f9f9;
  margin: 20px;
  padding: 20px;
  width: 200px;
  height:180px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  margin-bottom: 30px;
  
}
.cart-box img {
border-radius: 10px;
margin-bottom: 10px;
border: 1px solid whitesmoke;
border-radius: 3px;
box-shadow: 2px 2px 2px #000800;
}

.category-title{
  font-size: 400%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  text-align: center;
  
}

