#navbar-React .navbar {
  display: flex;
  padding: 3px;
  width: 100%;
  height: 100px; 
  justify-content: flex-end;
  position: fixed; /* Fija el navbar en la ventana */
  z-index: 1000; /* Asegura que el navbar esté por encima del contenido */
}

#navbar-React .nav-item {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  right: 0; /* Coloca el navbar en el extremo derecho de la ventana */
}

#navbar-React .nav-list {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  cursor: pointer;
}

  /******** Items List ******/
  
  .items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  /****** Item  box *********/
  .item-box {
    background-color: #f9f9f9;
    margin: 20px;
    padding: 20px;
    width: 280px;
      height: 335px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000800;
    margin-bottom: 30px;
    
}

.item-box img {
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #000800;
}

.name-box{
  font-size: 15px; /* Tamaño máximo del título */
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  text-align: center; /* Alineación centrada */
  overflow: hidden; /* Ocultar el texto que desborda */
  white-space: nowrap; /* Evitar el desbordamiento de línea */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos si el texto desborda */

}

.item-quantity {
  color: #fff;
  background-color: #69411f;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 18px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #000800;
}

.item-price {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.item-add-button {
  margin: 0 auto;
  background-color: #5d2417;
  height: 35px;
  padding: 0.5em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

.item-add-button:hover{
  background-color: #5a2e15;
    ;
}
      
.item-minus-button {
    background-color: #5d2417;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000800;
    margin-left: 5px;
    
  }

.item-minus-button:hover{
  background-color: #5a2e15;
    ;
}
  
.item-plus-button {
    background-color: #5d2417;
    margin-right: 5px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000800;

  }

.item-plus-button:hover{
  background-color: #5a2e15;
    ;
}

.item-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

  /****** Shopping Cart ********/
  
.cart-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}
  

.cart-count {
    background-color: rgba(255, 255, 255, 0.5); /* Blanco con 50% de opacidad */
    color: white;
    width: 100%; /* Ajusta el ancho */
    border-radius: 50%; /* Hace que el borde sea un círculo perfecto */
    padding: 5px;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 2px #000800;
}

.cart-title{
  display: flex;
  text-align:center; /* Centra el texto */
  font-size: 100px;
    /* Tamaño de fuente */
  color: white; /* Color del texto */
  font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  font-optical-sizing: auto;
  margin-bottom: 40px; /*espacio que queremos dejar debajo */
}

.cart-text{
  display: flex;
  text-align:center; /* Centra el texto */
  font-size: 150%; /* Tamaño de fuente */
  color: white; /* Color del texto */
  margin-bottom: 20px; /* Espacio debajo del título */
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 40px; /*espacio que queremos dejar debajo */
}

.cart-box {
  align-items: center;
  background-color: #f9f9f9;
  margin: 20px;
  padding: 20px;
  width: 230px;
    height: 250px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  margin-bottom: 30px;
  
}
.cart-box img {
border-radius: 10px;
margin-bottom: 10px;
border: 1px solid whitesmoke;
border-radius: 3px;
box-shadow: 2px 2px 2px #000800;
}

.category-title{
  font-size: 100px;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  font-optical-sizing: auto;

  color: white;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
  
}

#buttonCarrito1, #buttonCarrito2{
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #5d2417;
  width: 200px;
  padding: 0.5em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

#buttonCarrito1:hover,#buttonCarrito2:hover{

  background-color: #5a2e15;
    ;
    /* Cambia el color de fondo al marrón más claro cuando pasas el ratón sobre el botón */
  
}


/* Formulario de pago */

.col-md-7{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.col-md-7 button {
    margin: 0 auto;
    background-color: #5d2417;
    width: 200px;
    padding: 0.5em;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000800;
    color: white;
    text-decoration: none;
}

.col-md-7 button:hover {
  background-color: #5a2e15;
    ;
    /* Cambia el color de fondo al marrón más claro cuando pasas el ratón sobre el botón */
  border: 1px solid whitesmoke;
}

.form-check-label, .form-group{
  color: #000800;
}

.col-md-7 h4{
  color: #000800;
}




/*CheckoutForm*/

.container{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.text-center h1{
  font-size: 100px;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  font-family: "Grey Qo", cursive;
    font-weight: 400;
}

#cart-checkout {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

#cart-counter-checkout {
  background-color: #8b321e;
    /* Blanco con 50% de opacidad */
  color: white;
}

.input-group button{
  background-color: #5d2417;
} /* Boton de validar descuento */

.input-group button:hover{

  background-color: #5a2e15;
    ;
    /* Cambia el color de fondo al marrón más claro cuando pasas el ratón sobre el botón */
}

.text-body-secondary{
  color: black;
 
}

.card.card-body {
  width: 380px;
    /* Ancho de la tarjeta */
    height: 230px;
    /* Alto de la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  border: 1px solid #ccc; /* Borde sólido */
  padding: 20px; /* Espacio interno */
  background-image: url('/public/images/tarjetaFondo.png'); /* Ruta de la imagen de fondo */
  background-size: 500px;
    /* Cubrir todo el área del elemento */
  background-position: center; /* Centrar la imagen */
}

/* Ajustes para los elementos dentro del formulario */
.form-check, .form-group {
  margin-bottom: 15px; /* Espacio entre elementos */
}

#tarjetaStyle {
  font-size: 25px;
  font-weight: 600;
}
.form-group{
  color: #000800;
  background-color: white;
  border: 0.5px solid black; /* Borde sólido */
  border-radius: 5px;
}

/* Modal de confirmacion de pago*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  z-index: 999; /* Asegúrate de que la capa del fondo esté detrás del modal */
}

.modal {
  position: fixed;
  margin-top: 200px;
}

.modal-title, .modal-body{

  color: #000800;
}

.modal-footer button{
  margin: 0 auto;
  background-color: #5d2417;
  width: 200px;
  padding: 0.5em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  color: white;
  text-decoration: none;
}

.modal-footer button:hover{

  background-color: #5a2e15;
    ;
    /* Cambia el color de fondo al marrón más claro cuando pasas el ratón sobre el botón */
  
}

.sidebar {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  align-items: flex-start; /* Alinea los elementos verticalmente en la parte superior */
  height: 600px;
  color: #000800;
  margin-top: 250px;
}

.border-bottom {
  width: 100%; /* Asegura que el borde inferior ocupe todo el ancho del sidebar */
}


#sidebarTitle{
  color: #000800;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 150%;
  display: flex;
  align-items: center;
}

#sidebarTitle:hover{

  transform: scale(1.05); /* Aumenta en un 10% al pasar el mouse */
}

.sidebarText{
  color: #000800;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 130%;
}

.sidebarText:hover{

  transform: scale(1.05); /* Aumenta en un 10% al pasar el mouse */
}

#modalButton:hover {
  background-color: #5a2e15;
    /* Cambia el color de fondo al marrón más claro cuando pasas el ratón sobre el botón */
  border: 1px solid whitesmoke;
}
/*LOCALES*/

footer.container p.float-end a {
  color: white;
  /* Cambia el color del texto a blanco */
}

.formularioSolicitud button {

  background-color: #5a2e15;
}
.featurette a {
  color: white;
}

#local1 {
  width: 400px;
  height: 400px;
  border: 3px solid whitesmoke;
}

.featurette video {
  max-height: 600px;
  max-width: 450px;
  display: block;
  margin: auto;
  /* Centra la imagen horizontalmente */
  margin-top: 50px;
  margin-bottom: 100px;
  /*espacio que queremos dejar debajo */
  border: 2px solid whitesmoke;
  border-radius: 5px;
    box-shadow: 5px 5px 5px #000800;
}
/*contacto*/

.contacto-container {
  margin-top: 50px;
  position: relative;
  height: 100vh;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-form {
  background-color: rgba(255, 255, 255, 0.9);
  /* Fondo blanco con algo de transparencia para ver la imagen detrás */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  z-index: 2;
  /* Asegura que el formulario esté sobre la imagen de fondo */
  text-align: left;
}

.contacto-form h2 {
  color: #5d2417;
  /* Color marrón o similar */
  font-family: 'Playfair Display', serif;
  text-align: left;
  margin-bottom: 10px;
}

.contacto-form p {
  font-family: 'Playfair Display', serif;
  color: #5d2417;
  margin-bottom: 20px;
}

.contacto-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #5d2417;
}

.contacto-form input,
.contacto-form select,
.contacto-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contacto-form button {
  background-color: #5d2417;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #000800;
}

.contacto-form button:hover {
  background-color: #5a2e15;
}

.form-checkbox {
  display: flex;
  align-items: center;
}

.modal-footer button {
  margin: 0 auto;
  background-color: #5d2417;
  width: 200px;
  padding: 0.5em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  color: white;
  text-decoration: none;
  display: block;
  /* Asegura que el botón esté centrado */
  text-align: center;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #5a2e15;
}

span {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

span:hover {
  color: rgb(70, 70, 224);
}

.featurette h2 {
  font-family: "Grey Qo", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 500%;
}

#terminos {
  font-size: 50px;
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;

}