#navbar-React .navbar {
  display: flex;
  padding: 3px;
  width: 100%;
  height: 100px; 
  justify-content: flex-end;
  position: fixed; /* Fija el navbar en la ventana */
  z-index: 1000; /* Asegura que el navbar esté por encima del contenido */
}

#navbar-React .nav-item {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  right: 0; /* Coloca el navbar en el extremo derecho de la ventana */
}

#navbar-React .nav-list {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  cursor: pointer;
}

  /******** Items List ******/
  
  .items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  /****** Item  box *********/
  .item-box {
    background-color: #f9f9f9;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height:270px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000800;
    margin-bottom: 30px;
    
}
.item-box img {
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #000800;
}

.name-box{
  font-size: 15px; /* Tamaño máximo del título */
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  text-align: center; /* Alineación centrada */
  overflow: hidden; /* Ocultar el texto que desborda */
  white-space: nowrap; /* Evitar el desbordamiento de línea */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos si el texto desborda */

}

.item-quantity {
  color: #fff;
  background-color: #69411f;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #000800;
}

.item-price {
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
}

.item-add-button {
  margin: 0 auto;
  background-color: #5d2417;
  height: 20px;
  padding: 0.5em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
  width: 100%;
}

.item-add-button:hover{
  background-color: #8a3421;
}
      
.item-minus-button {
    background-color: #e7211a;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000800;
    margin-left: 5px;

  }

.item-minus-button:hover{
  background-color: #eb5954;
}
  
.item-plus-button {
    background-color: #337ab7;
    margin-right: 5px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000800;
  }

.item-plus-button:hover{
  background-color: #3897eb;
}

.item-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}


  
  
  /****** Shopping Cart ********/
  
.cart-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}
  

.cart-count {
    background-color: rgba(255, 255, 255, 0.5); /* Blanco con 50% de opacidad */
    color: white;
    width: 100%; /* Ajusta el ancho */
    border-radius: 50%; /* Hace que el borde sea un círculo perfecto */
    padding: 5px;
    border: 1px solid whitesmoke;
    box-shadow: 2px 2px 2px #000800;
}

.cart-title{
  display: flex;
  text-align:center; /* Centra el texto */
  font-size: 300%; /* Tamaño de fuente */
  color: white; /* Color del texto */
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 40px; /*espacio que queremos dejar debajo */
}

.cart-text{
  display: flex;
  text-align:center; /* Centra el texto */
  font-size: 150%; /* Tamaño de fuente */
  color: white; /* Color del texto */
  margin-bottom: 20px; /* Espacio debajo del título */
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 40px; /*espacio que queremos dejar debajo */
}

.cart-box {
  align-items: center;
  background-color: #f9f9f9;
  margin: 20px;
  padding: 20px;
  width: 200px;
  height:180px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  margin-bottom: 30px;
  
}
.cart-box img {
border-radius: 10px;
margin-bottom: 10px;
border: 1px solid whitesmoke;
border-radius: 3px;
box-shadow: 2px 2px 2px #000800;
}

.category-title{
  font-size: 400%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
  
}

#buttonCarrito1, #buttonCarrito2{
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #5d2417;
  width: 200px;
  padding: 0.5em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

#buttonCarrito1:hover,#buttonCarrito2:hover{

  background-color: #8b321e; /* Cambia el color de fondo al marrón más claro cuando pasas el ratón sobre el botón */
  
}


/* Formulario de pago */

.col-md-7{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.col-md-7 button {
    margin: 0 auto;
    background-color: #5d2417;
    width: 200px;
    padding: 0.5em;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000800;
    color: white;
    text-decoration: none;
}

.col-md-7 button:hover {
  background-color: #8b321e; /* Cambia el color de fondo al marrón más claro cuando pasas el ratón sobre el botón */
  border: 1px solid whitesmoke;
}

.form-check-label, .form-group{
  color: #000800;
}

.col-md-7 h4{
  color: #000800;
}




/*CheckoutForm*/

.container{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.text-center h1{
  font-size: 400%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

#cart-checkout .text-primary{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

#cart-counter-checkout .badge{
  background-color: rgba(121, 119, 119, 0.5); /* Blanco con 50% de opacidad */
  color: white;
}

.input-group button{
  background-color: #5d2417;
} /* Boton de validar descuento */

.input-group button:hover{

  background-color: #8b321e; /* Cambia el color de fondo al marrón más claro cuando pasas el ratón sobre el botón */
}

.text-body-secondary{
  color: black;
 
}

.card.card-body {
  width: 350px; /* Ancho de la tarjeta */
  height: 200px; /* Alto de la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  border: 1px solid #ccc; /* Borde sólido */
  padding: 20px; /* Espacio interno */
  background-image: url('/public/images/tarjetaFondo.png'); /* Ruta de la imagen de fondo */
  background-size: 370px; /* Cubrir todo el área del elemento */
  background-position: center; /* Centrar la imagen */
}

/* Ajustes para los elementos dentro del formulario */
.form-check, .form-group {
  margin-bottom: 15px; /* Espacio entre elementos */
}

.form-group{
  color: #000800;
  background-color: white;
  border: 0.5px solid black; /* Borde sólido */
  border-radius: 5px;
}

/* Modal de confirmacion de pago*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  z-index: 999; /* Asegúrate de que la capa del fondo esté detrás del modal */
}

.modal {
  position: fixed;
  margin-top: 200px;
}

.modal-title, .modal-body{

  color: #000800;
}

.modal-footer button{
  margin: 0 auto;
  background-color: #5d2417;
  width: 200px;
  padding: 0.5em;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000800;
  color: white;
  text-decoration: none;
}

.modal-footer button:hover{

  background-color: #8b321e; /* Cambia el color de fondo al marrón más claro cuando pasas el ratón sobre el botón */
  
}

.sidebar {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  align-items: flex-start; /* Alinea los elementos verticalmente en la parte superior */
  height: 600px;
  color: #000800;
  margin-top: 250px;
}

.border-bottom {
  width: 100%; /* Asegura que el borde inferior ocupe todo el ancho del sidebar */
}


#sidebarTitle{
  color: #000800;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 150%;
  display: flex;
  align-items: center;
}

#sidebarTitle:hover{

  transform: scale(1.05); /* Aumenta en un 10% al pasar el mouse */
}

.sidebarText{
  color: #000800;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 130%;
}

.sidebarText:hover{

  transform: scale(1.05); /* Aumenta en un 10% al pasar el mouse */
}
